In [2]:
import pandas as pd
from faker import Faker
fake = Faker()

In [2]:
! pip install Faker

Collecting Faker
  Downloading Faker-13.11.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 23.5 MB/s eta 0:00:00:00:01
Requirement already satisfied: python-dateutil>=2.4 in /home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.7/site-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.7/site-packages (from Faker) (4.2.0)
Requirement already satisfied: six>=1.5 in /home/ec2-user/anaconda3/envs/JupyterSystemEnv/lib/python3.7/site-packages (from python-dateutil>=2.4->Faker) (1.16.0)
Installing collected packages: Faker
Successfully installed Faker-13.11.1

In [ ]:
First Name, Last Name, DOB, Sex, City, State, Country, Phone Number, Email, Interests

In [7]:
for _ in range(10):
    print(fake.first_name(), 
          fake.last_name(), 
          fake.date_of_birth(),
          fake.city(),
          fake.state(),
          fake.country(),
          fake.phone_number(),
          fake.email(),
          )

# 'Adaline Reichel'
# 'Dr. Santa Prosacco DVM'
# 'Noemy Vandervort V'
# 'Lexi O'Conner'
# 'Gracie Weber'
# 'Roscoe Johns'
# 'Emmett Lebsack'
# 'Keegan Thiel'
# 'Wellington Koelpin II'
# 'Ms. Karley Kiehn V'

Shaun Ramirez 1956-07-04 Lake Rachaelborough Maine Guyana 940-652-6626x5400 sarasmall@example.org
Robert Soto 1930-04-18 North Ashley West Virginia Guatemala 001-833-566-7251x745 jamesdeleon@example.org
Beverly Ortiz 2015-04-22 Chenland Colorado Honduras (765)152-9683x2895 william57@example.com
Teresa Jones 1926-09-25 Wilkinsonside Nevada France 001-691-669-4895 brianjohnson@example.net
Carl Lam 1934-02-11 Angelaland Tennessee Monaco 868.627.5100 keithwolf@example.org
Sandra Santana 1916-12-22 Cookstad Maine Rwanda 743-811-5064 portertyler@example.net
Amy Jackson 1965-03-18 North Terri Arizona Botswana 077-119-0028x3157 karenmoore@example.com
Daniel Pittman 1986-12-18 Williamsonhaven Arizona Iran 331-226-0435 sanderson@example.org
Eric Morton 2020-06-07 Ralphview West Virginia Turkmenistan 001-600-811-6115x99219 martinnancy@example.net
Daniel Hall 1944-12-22 Valerieland Nebraska Holy See (Vatican City State) 7674875887 wcarter@example.net

In [79]:
MalePersons = []

for _ in range(10):
    MalePersons.append(
    {    
        "FirstNname" : fake.first_name_male(), 
        "LastName": fake.last_name_male(), 
        "DOB" : fake.date_of_birth(),
        "City" : fake.city(),
        "State" : fake.state(),
        "Country" : fake.country(),
        "PhoneNumber" : fake.phone_number(),
        "Email" : fake.email()
    }
    )

In [80]:
MalePersons

[{'FirstNname': 'James',
  'LastName': 'Frost',
  'DOB': datetime.date(2016, 12, 28),
  'City': 'Cassandramouth',
  'State': 'Florida',
  'Country': 'Djibouti',
  'PhoneNumber': '001-771-724-6269x035',
  'Email': 'judy14@example.org'},
 {'FirstNname': 'Barry',
  'LastName': 'Jenkins',
  'DOB': datetime.date(1993, 7, 22),
  'City': 'South Jomouth',
  'State': 'South Dakota',
  'Country': 'Samoa',
  'PhoneNumber': '535.801.9728',
  'Email': 'john72@example.net'},
 {'FirstNname': 'Michael',
  'LastName': 'Nunez',
  'DOB': datetime.date(1915, 7, 17),
  'City': 'Taylorton',
  'State': 'Delaware',
  'Country': 'British Indian Ocean Territory (Chagos Archipelago)',
  'PhoneNumber': '+1-717-122-2734x33841',
  'Email': 'isaacgreen@example.org'},
 {'FirstNname': 'Steve',
  'LastName': 'Lopez',
  'DOB': datetime.date(1999, 9, 8),
  'City': 'South Kristen',
  'State': 'Vermont',
  'Country': 'Guyana',
  'PhoneNumber': '050.899.9809x8164',
  'Email': 'christinegreen@example.com'},
 {'FirstNname': 'Daniel',
  'LastName': 'May',
  'DOB': datetime.date(1945, 2, 10),
  'City': 'Heidichester',
  'State': 'Iowa',
  'Country': 'Senegal',
  'PhoneNumber': '001-401-827-7065',
  'Email': 'terri73@example.org'},
 {'FirstNname': 'Terry',
  'LastName': 'Griffith',
  'DOB': datetime.date(1991, 5, 2),
  'City': 'Christinahaven',
  'State': 'West Virginia',
  'Country': 'Comoros',
  'PhoneNumber': '001-996-757-8286x90212',
  'Email': 'qsnyder@example.org'},
 {'FirstNname': 'Joshua',
  'LastName': 'Sanders',
  'DOB': datetime.date(1928, 5, 28),
  'City': 'Lake Johnbury',
  'State': 'Mississippi',
  'Country': 'Macao',
  'PhoneNumber': '914-268-0485x52346',
  'Email': 'rachel08@example.net'},
 {'FirstNname': 'David',
  'LastName': 'Moore',
  'DOB': datetime.date(1997, 7, 30),
  'City': 'New Amyfurt',
  'State': 'Ohio',
  'Country': 'Puerto Rico',
  'PhoneNumber': '(738)126-0911',
  'Email': 'petersonrachael@example.com'},
 {'FirstNname': 'Shawn',
  'LastName': 'Sparks',
  'DOB': datetime.date(2006, 7, 30),
  'City': 'North Nicole',
  'State': 'Illinois',
  'Country': 'Saudi Arabia',
  'PhoneNumber': '(368)464-4701',
  'Email': 'coxemily@example.com'},
 {'FirstNname': 'Dustin',
  'LastName': 'Bowers',
  'DOB': datetime.date(1941, 11, 29),
  'City': 'Rachaeltown',
  'State': 'Oregon',
  'Country': 'Lithuania',
  'PhoneNumber': '(580)546-9004x5107',
  'Email': 'klopez@example.org'}]

In [81]:
FemalePersons = []

for _ in range(10):
    FemalePersons.append(
    {    
        "FirstNname" : fake.first_name_female(), 
        "LastName": fake.last_name_female(), 
        "DOB" : fake.date_of_birth(),
        "City" : fake.city(),
        "State" : fake.state(),
        "Country" : fake.country(),
        "PhoneNumber" : fake.phone_number(),
        "Email" : fake.email()
    }
    )

In [82]:
Fpersons = pd.DataFrame.from_dict(FemalePersons)

In [83]:
Mpersons = pd.DataFrame.from_dict(MalePersons)

In [84]:
Fpersons["Gender"] = "female"
Mpersons["Gender"] = "male"

In [85]:
Mpersons

,FirstNname,LastName,DOB,City,State,Country,PhoneNumber,Email,Gender
0,James,Frost,2016-12-28,Cassandramouth,Florida,Djibouti,001-771-724-6269x035,judy14@example.org,male
1,Barry,Jenkins,1993-07-22,South Jomouth,South Dakota,Samoa,535.801.9728,john72@example.net,male
2,Michael,Nunez,1915-07-17,Taylorton,Delaware,British Indian Ocean Territory (Chagos Archipe...,+1-717-122-2734x33841,isaacgreen@example.org,male
3,Steve,Lopez,1999-09-08,South Kristen,Vermont,Guyana,050.899.9809x8164,christinegreen@example.com,male
4,Daniel,May,1945-02-10,Heidichester,Iowa,Senegal,001-401-827-7065,terri73@example.org,male
5,Terry,Griffith,1991-05-02,Christinahaven,West Virginia,Comoros,001-996-757-8286x90212,qsnyder@example.org,male
6,Joshua,Sanders,1928-05-28,Lake Johnbury,Mississippi,Macao,914-268-0485x52346,rachel08@example.net,male
7,David,Moore,1997-07-30,New Amyfurt,Ohio,Puerto Rico,(738)126-0911,petersonrachael@example.com,male
8,Shawn,Sparks,2006-07-30,North Nicole,Illinois,Saudi Arabia,(368)464-4701,coxemily@example.com,male
9,Dustin,Bowers,1941-11-29,Rachaeltown,Oregon,Lithuania,(580)546-9004x5107,klopez@example.org,male

In [86]:
pd.concat([Fpersons, Mpersons], ignore_index=True).to_csv("Persons.csv", index=False)

In [5]:
%%oc
CREATE (:Person {FirstNname:"Kelly", LastName:"Oneill", DOB:"1934-11-06", City:"North Tylerberg", State:"Alabama", Country:"Panama", PhoneNumber:"283-696-9163x178", Email:"galvanjoshua@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Alison", LastName:"Booker", DOB:"1933-03-03", City:"Fischerfort", State:"New Jersey", Country:"Panama", PhoneNumber:"650.554.2830", Email:"whitesteven@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"Kerri", LastName:"White", DOB:"1941-07-28", City:"West Scottview", State:"Arizona", Country:"Bangladesh", PhoneNumber:"001-996-295-8356", Email:"lindaruiz@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"Mindy", LastName:"Montgomery", DOB:"1984-09-21", City:"New Jerrymouth", State:"Indiana", Country:"Saint Helena", PhoneNumber:"(012)924-1610", Email:"thomasmartin@example.org", Gender:"female"})
CREATE (:Person {FirstNname:"Pamela", LastName:"Rich", DOB:"1986-06-30", City:"Davisfort", State:"Georgia", Country:"Falkland Islands (Malvinas)", PhoneNumber:"520-908-0209x1718", Email:"ccooper@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Karla", LastName:"Ingram", DOB:"1963-08-19", City:"Tinaberg", State:"Wyoming", Country:"Maldives", PhoneNumber:"001-726-077-9121x47677", Email:"tscott@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Amber", LastName:"Haney", DOB:"1954-04-27", City:"Melissastad", State:"California", Country:"Malawi", PhoneNumber:"170.171.6377x5001", Email:"shawn01@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"Vanessa", LastName:"Bentley", DOB:"1914-04-14", City:"North David", State:"Maine", Country:"Malawi", PhoneNumber:"6175629525", Email:"qmcmahon@example.org", Gender:"female"})
CREATE (:Person {FirstNname:"Patricia", LastName:"Nolan", DOB:"1996-12-15", City:"Riverashire", State:"Tennessee", Country:"Maldives", PhoneNumber:"001-947-632-9361x395", Email:"howellmarie@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Michele", LastName:"Hunter", DOB:"1960-11-09", City:"Jeffreyhaven", State:"Missouri", Country:"Eritrea", PhoneNumber:"708-333-7508x3375", Email:"walkerkristine@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"James", LastName:"Frost", DOB:"2016-12-28", City:"Cassandramouth", State:"Florida", Country:"Djibouti", PhoneNumber:"001-771-724-6269x035", Email:"judy14@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Barry", LastName:"Jenkins", DOB:"1993-07-22", City:"South Jomouth", State:"South Dakota", Country:"Samoa", PhoneNumber:"535.801.9728", Email:"john72@example.net", Gender:"male"})
CREATE (:Person {FirstNname:"Michael", LastName:"Nunez", DOB:"1915-07-17", City:"Taylorton", State:"Delaware", Country:"British Indian Ocean Territory (Chagos Archipelago)", PhoneNumber:"+1-717-122-2734x33841", Email:"isaacgreen@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Steve", LastName:"Lopez", DOB:"1999-09-08", City:"South Kristen", State:"Vermont", Country:"Guyana", PhoneNumber:"050.899.9809x8164", Email:"christinegreen@example.com", Gender:"male"})
CREATE (:Person {FirstNname:"Daniel", LastName:"May", DOB:"1945-02-10", City:"Heidichester", State:"Iowa", Country:"Senegal", PhoneNumber:"001-401-827-7065", Email:"terri73@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Terry", LastName:"Griffith", DOB:"1991-05-02", City:"Christinahaven", State:"West Virginia", Country:"Comoros", PhoneNumber:"001-996-757-8286x90212", Email:"qsnyder@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Joshua", LastName:"Sanders", DOB:"1928-05-28", City:"Lake Johnbury", State:"Mississippi", Country:"Macao", PhoneNumber:"914-268-0485x52346", Email:"rachel08@example.net", Gender:"male"})
CREATE (:Person {FirstNname:"David", LastName:"Moore", DOB:"1997-07-30", City:"New Amyfurt", State:"Ohio", Country:"Puerto Rico", PhoneNumber:"(738)126-0911", Email:"petersonrachael@example.com", Gender:"male"})
CREATE (:Person {FirstNname:"Shawn", LastName:"Sparks", DOB:"2006-07-30", City:"North Nicole", State:"Illinois", Country:"Saudi Arabia", PhoneNumber:"(368)464-4701", Email:"coxemily@example.com", Gender:"male"})
CREATE (:Person {FirstNname:"Dustin", LastName:"Bowers", DOB:"1941-11-29", City:"Rachaeltown", State:"Oregon", Country:"Lithuania", PhoneNumber:"(580)546-9004x5107", Email:"klopez@example.org", Gender:"male"})

Tab()

In [4]:
LOAD CSV WITH HEADERS FROM 'file:///Persons.csv' AS Person
CREATE (:Artist {
FirstName: Person.FirstName, 
LastName: Person.LastName, 
DOB: Person.DOB, 
City: Person.City, 
State: Person.State, 
Country: Person.Country, 
PhoneNumber: Person.PhoneNumber, 
Email: Person.Email,
Gender: Person.Gender})

SyntaxError: invalid syntax (<ipython-input-4-184a9eaf2fc0>, line 1)

In [3]:
import csv
with open('Persons.csv', newline='') as csvfile:
    reader = csv.DictReader(csvfile, escapechar="\\")
    query = ""
    for row in reader:
        s = "CREATE (:Person {"
        for k in row:
            s += f'{k}:"{row[k]}", '
        s = s[:-2] + '})\n'
        query += s 
    print(query)

CREATE (:Person {FirstNname:"Kelly", LastName:"Oneill", DOB:"1934-11-06", City:"North Tylerberg", State:"Alabama", Country:"Panama", PhoneNumber:"283-696-9163x178", Email:"galvanjoshua@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Alison", LastName:"Booker", DOB:"1933-03-03", City:"Fischerfort", State:"New Jersey", Country:"Panama", PhoneNumber:"650.554.2830", Email:"whitesteven@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"Kerri", LastName:"White", DOB:"1941-07-28", City:"West Scottview", State:"Arizona", Country:"Bangladesh", PhoneNumber:"001-996-295-8356", Email:"lindaruiz@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"Mindy", LastName:"Montgomery", DOB:"1984-09-21", City:"New Jerrymouth", State:"Indiana", Country:"Saint Helena", PhoneNumber:"(012)924-1610", Email:"thomasmartin@example.org", Gender:"female"})
CREATE (:Person {FirstNname:"Pamela", LastName:"Rich", DOB:"1986-06-30", City:"Davisfort", State:"Georgia", Country:"Falkland Islands (Malvinas)", PhoneNumber:"520-908-0209x1718", Email:"ccooper@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Karla", LastName:"Ingram", DOB:"1963-08-19", City:"Tinaberg", State:"Wyoming", Country:"Maldives", PhoneNumber:"001-726-077-9121x47677", Email:"tscott@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Amber", LastName:"Haney", DOB:"1954-04-27", City:"Melissastad", State:"California", Country:"Malawi", PhoneNumber:"170.171.6377x5001", Email:"shawn01@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"Vanessa", LastName:"Bentley", DOB:"1914-04-14", City:"North David", State:"Maine", Country:"Malawi", PhoneNumber:"6175629525", Email:"qmcmahon@example.org", Gender:"female"})
CREATE (:Person {FirstNname:"Patricia", LastName:"Nolan", DOB:"1996-12-15", City:"Riverashire", State:"Tennessee", Country:"Maldives", PhoneNumber:"001-947-632-9361x395", Email:"howellmarie@example.com", Gender:"female"})
CREATE (:Person {FirstNname:"Michele", LastName:"Hunter", DOB:"1960-11-09", City:"Jeffreyhaven", State:"Missouri", Country:"Eritrea", PhoneNumber:"708-333-7508x3375", Email:"walkerkristine@example.net", Gender:"female"})
CREATE (:Person {FirstNname:"James", LastName:"Frost", DOB:"2016-12-28", City:"Cassandramouth", State:"Florida", Country:"Djibouti", PhoneNumber:"001-771-724-6269x035", Email:"judy14@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Barry", LastName:"Jenkins", DOB:"1993-07-22", City:"South Jomouth", State:"South Dakota", Country:"Samoa", PhoneNumber:"535.801.9728", Email:"john72@example.net", Gender:"male"})
CREATE (:Person {FirstNname:"Michael", LastName:"Nunez", DOB:"1915-07-17", City:"Taylorton", State:"Delaware", Country:"British Indian Ocean Territory (Chagos Archipelago)", PhoneNumber:"+1-717-122-2734x33841", Email:"isaacgreen@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Steve", LastName:"Lopez", DOB:"1999-09-08", City:"South Kristen", State:"Vermont", Country:"Guyana", PhoneNumber:"050.899.9809x8164", Email:"christinegreen@example.com", Gender:"male"})
CREATE (:Person {FirstNname:"Daniel", LastName:"May", DOB:"1945-02-10", City:"Heidichester", State:"Iowa", Country:"Senegal", PhoneNumber:"001-401-827-7065", Email:"terri73@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Terry", LastName:"Griffith", DOB:"1991-05-02", City:"Christinahaven", State:"West Virginia", Country:"Comoros", PhoneNumber:"001-996-757-8286x90212", Email:"qsnyder@example.org", Gender:"male"})
CREATE (:Person {FirstNname:"Joshua", LastName:"Sanders", DOB:"1928-05-28", City:"Lake Johnbury", State:"Mississippi", Country:"Macao", PhoneNumber:"914-268-0485x52346", Email:"rachel08@example.net", Gender:"male"})
CREATE (:Person {FirstNname:"David", LastName:"Moore", DOB:"1997-07-30", City:"New Amyfurt", State:"Ohio", Country:"Puerto Rico", PhoneNumber:"(738)126-0911", Email:"petersonrachael@example.com", Gender:"male"})
CREATE (:Person {FirstNname:"Shawn", LastName:"Sparks", DOB:"2006-07-30", City:"North Nicole", State:"Illinois", Country:"Saudi Arabia", PhoneNumber:"(368)464-4701", Email:"coxemily@example.com", Gender:"male"})
CREATE (:Person {FirstNname:"Dustin", LastName:"Bowers", DOB:"1941-11-29", City:"Rachaeltown", State:"Oregon", Country:"Lithuania", PhoneNumber:"(580)546-9004x5107", Email:"klopez@example.org", Gender:"male"})